<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715284205734-omhn847l2jqo2n2snjudeipo3oa9ls2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715284205734-omhn847l2jqo2n2snjudeipo3oa9ls2e</string>
	<key>API_KEY</key>
	<string>AIzaSyDDKmrI7Z7cR9jD6PGIP8rlw-TvMKZ_KV8</string>
	<key>GCM_SENDER_ID</key>
	<string>715284205734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFirestore</string>
	<key>PROJECT_ID</key>
	<string>fir-firestore-a3125</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-firestore-a3125.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715284205734:ios:fbac3e1d9dae3ef773a467</string>
</dict>
</plist>